body {
  padding: 0px;
  margin: 0px;
  letter-spacing: 2px;
}

.header {
  background: #65ccb8;;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header a {
  padding: 0px 40px;
  text-decoration: none;
  color: #f2f2f2;
  font-family: Josefin Sans;
  font-size: 40px;
}

a:hover {
  color: #57ba98;
  transition: 0.5s;
}

.left {
  background-image: url("https://media.comicbook.com/2017/04/hayden-christensen-anakin-skywalker-star-wars-990926-1280x0.jpg"); /* The image used */
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  position: relative;
}

.quote {
  height: 400px;
  width: 37%;
  background: #57ba98;;
  color: white;
  font-family: Abril Fatface;
  font-size: 60px;
  text-align: center;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  
}

.quoter {
  position: absolute;
  color: white;
  font-size: 200px;
  top: -10%;
  left: 0%;
}


.main {
  display: flex;
  height: 600px;
}

.right {
  width: 55%;
  font-family: Josefin Sans;
  font-size: 25px;
  margin: 35px;
  color: #182628;
}

.text {
  position: absolute;
  left: 20%;
  top: 45%;
  font-family: 'Abril Fatface', cursive;
  color: white;
}

.text p {
  font-size: 50px; 
  margin: 0px}

.text h1 {
  font-size: 70px; 
  margin: 0px}

.subtitle {
  font-family: Merriweather; 
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}

.subsub {
  font-family: Merriweather;
  font-weight: italic;
  font-size: 15px;
}
  
.desc {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.maintitle {
  font-family: Josefin Sans;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
  

@media only screen and (max-width: 1000px) {
  .header {
    display: block;
    text-align: center;
    padding-top: 15px;
  
  }
  
  ul {margin-bottom: 40px;}

  .text {  
    left: 20%;
    top: 45%;}
  
  .text p {
    font-size: 15px;
  }
  .text h1 {
    font-size: 20px;
  }
  
  .right {font-size: 15px;}

}
}