body {
  padding: 0px; 
  margin: 0px;
}

.header img {
  max-width: 100%;
  height: auto;
}

.header {
  position: relative;
}

.text {
  position: absolute;
  left: 30%;
  top: 60%;
  font-family: 'Abril Fatface', cursive;
  color: #222;
}

.text p {
  font-size: 30px; 
  margin: 0px}

.text h1 {
  font-size: 60px; 
  margin: 0px}

.main {
  width: 50%;
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.desc {
  color: #222;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.maintitle {
  font-family: Josefin Sans;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer {
  position: relative;
  background: #444444;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  line-height: 100px;
  font-family: Abril Fatface;
  font-size: 30px
}

hr {    
  width: 50%;
  border: none;
    height: 5px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333;}

.quote {
  position: absolute;
  color: white;
  font-size: 130px;
  top: 0%;
}

ul {margin-bottom: 40px;}

.subtitle {
  font-family: Merriweather; 
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}

.subsub {
  font-family: Merriweather;
  font-weight: italic;
  font-size: 15px;
}

@media only screen and (max-width: 1000px) {
  .text p {
    font-size: 15px;
  }
  .text h1 {
    font-size: 25px;
  }
  
  .footer {
  font-size: 15px;
}
}